$background: #222222;
$background-light: #d5d5d5;
$accent-1: #C59D6F;
$accent-2: #EDEDED;

$text-dark: #222222;
$text-light: #EDEDED;

// $accent-1-hover: rgba(197, 157, 111, 0.85);
$accent-1-hover: rgb(199, 164, 124);
$accent-2-hover: #d5d5d5;

$gray-light:  #474644;
$gray-dark:   rgba(237, 237, 237, 0.08);