.blog{
    width: 100%;

    &__container{
        @include flex(column, center, center, 0px);
        margin-top: 100px;

        h2{
            font-size: 48px;
            font-weight: 700;
        }

        .card__container{
            @include flex(raw, center, center, 30px);

            .blog-card{
                width: 310px;
                height: 400px;
                background: $gray-dark;
                padding: 20px;
                border-radius: 30px;
                margin: 30px 0;
                text-align: center;
                z-index: 5;
                position: relative;
    
                h4{
                    font-weight: 700;
                    margin: 20px 0;
                }

                p{
                    margin: 0;
                }
    
                img{
                    width: 100%;
                    opacity: 1; 
                    border-radius: 20px;
                    clip-path: polygon(0%);
                    margin: 0;
                }
            }
        }
    }

    .blog-cover{
        img{
            width: 100%;
            object-fit: cover;
            opacity: .4; 
        }
    }
}