.services__mid-section{
    padding: 80px;

    .service__container{

        @include flex(r, center, space-around, 0px);

        height: 360px;
        width: 90%;
        // background-color: $background-light;
        background-color: rgba(34, 34, 34, 0.04);;
        margin: 0 auto;
        border-radius: 30px;
        padding: 30px;
        margin-bottom: 80px;

        .services-description{
            text-align:justify;
            color: $text-dark;
            width: 40%;

            h3{
                text-align: center;
                font-size: 32px;
                margin-bottom: 20px;
            }
        }

        img{
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }
}

.rawReverse{
    @include flex(row-reverse, center, space-around, 0px);

}